Hi {{ firstName }},

GBP {{ trancheAmount }} of levy funds will expire on {{ expiresOn }} (in {{ daysAhead }} days).

Sign in to {{ appName }} to review your surplus and initiate a transfer before these funds expire:
{{ transferCtaUrl }}
